DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_DEBUG=True
DJANGO_DEBUG_TOOLBAR=False
DJANGO_ALLOWED_HOSTS=*
DJANGO_SITE_NAME=DjangoMango
DJANGO_SITE_DOMAIN=djangomango.com
DJANGO_HTML_MINIFY_ENABLED=False
DJANGO_VISIT_LOG_ENABLED=True
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
ADMIN_EMAIL=contact@djangomango.com
SMTP_EMAIL=True
EMAIL_HOST=dm-mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
AWS_MEDIA_STORAGE=False
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_DOMAIN_NAME=
AZURE_MEDIA_STORAGE=False
AZURE_BLOB_ACCOUNT_NAME=
AZURE_BLOB_ACCOUNT_KEY=
AZURE_BLOB_CONTAINER_NAME=
AZURE_BLOB_CUSTOM_DOMAIN=
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379
CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers.DatabaseScheduler
DJANGO_SESSION_COOKIE_AGE=2592000
DJANGO_MAX_UPLOAD_SIZE=10485760
GOOGLE_RECAPTCHA_IS_ACTIVE=False
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET_KEY=
GOOGLE_RECAPTCHA_SCORE_THRESHOLD=0.5
MAILCHIMP_IS_ACTIVE=False
MAILCHIMP_KEY=
SENTRY_ENABLED=False
SENTRY_DSN=
SENTRY_RELEASE=
DJANGO_CONTAINER_NAME=dm-django
NODE_CONTAINER_NAME=dm-node
DB_CONTAINER_NAME=dm-db
REDIS_CONTAINER_NAME=dm-redis
CELERY_CONTAINER_NAME=dm-celery
CELERY_BEAT_CONTAINER_NAME=dm-celery-beat
MAILHOG_CONTAINER_NAME=dm-mailhog
STRIPE_CONTAINER_NAME=dm-stripe