<select
    id="{{ field.auto_id }}"
    name="{{ field.html_name }}"
    class="{% if field.field.disabled or field.field.widget.attrs.disabled or field.field.widget.attrs.readonly %}cursor-not-allowed{% endif %} border-1 focus:ring-primary-500 focus:border-primary-600 peer block w-full rounded-lg border-gray-300 bg-white p-2.5 text-sm text-gray-900 {{ extra_inputstyles }}"
    {% if field.field.required %}required{% endif %}
    {% if field.field.disabled %}disabled{% endif %}
    {% include 'common/fields/attrs.html' %}>
  {% for value, label in field.field.choices %}
    {% if field.field.widget.attrs.multiple %}
      {% include "common/fields/multi-option.html" with value=value label=label %}
    {% else %}
      {% include "common/fields/option.html" with value=value label=label %}
    {% endif %}
  {% endfor %}
</select>