{% extends 'base.html' %}

{% block site %}
  <main class="min-h-screen">
    <div class="flex min-h-screen flex-col items-center justify-center px-6 py-8">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">403</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Forbidden.</p>
        <p class="mb-4 text-lg font-light text-gray-500">Sorry, you can't view that page. But you'll find lots to
          explore on the home page.</p>
        <a href="/" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">Back to Homepage</a>
      </div>
    </div>
  </main>
{% endblock site %}
