{% load heroicons %}

<div id="{% block modal_id %}{% endblock modal_id %}" data-modal-placement="center-center" tabindex="-1" aria-hidden="true" class="h-modal fixed top-0 right-0 left-0 z-50 hidden w-full overflow-y-auto overflow-x-hidden md:inset-0 md:h-full">
  <div class="relative h-full w-full max-w-2xl p-4 md:h-auto">
    <div class="relative rounded-lg bg-white shadow">
      <div class="flex items-start justify-between rounded-t border-b p-4">
        <h3 class="text-xl font-semibold text-gray-900">{% block modal_title %}{% endblock modal_title %}</h3>
        <a href="{% block dismiss_url %}{% endblock dismiss_url %}">
          <button type="button" class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900">
            {% heroicon_outline 'x-mark' stroke_width=2 size=20 %}
            <span class="sr-only">Close modal</span>
          </button>
        </a>
      </div>
      <div class="space-y-6 p-6">
        {% block modal_content %}
        {% endblock modal_content %}
      </div>
      <div class="flex justify-end space-x-2 rounded-b border-t border-gray-200 p-6">
        <a href="{% block accept_url %}{% endblock accept_url %}">
          {% include 'common/components/button.html' with type='button' color='primary' extra_class='text-sm font-medium px-5 py-2.5' label='Accept' %}
        </a>
      </div>
    </div>
  </div>
</div>
