<tr>
  <td>
    <table align="center" class="email-footer w-[570px] mx-auto text-center sm:w-full">
      <tr>
        <td align="center" class="content-cell p-[45px] text-base">
          <p class="mt-1.5 text-xs leading-6 text-center text-gray-postmark-dark">
            &copy; [[ page.year ]]. All rights reserved.
          </p>
          <p class="mt-1.5 text-xs leading-6 text-center text-gray-postmark-dark">
            {{ site_name }}
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>